<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no,email=no">
  <meta name="description" content="{{env.description}}">
  <title>{{env.title}}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{env.staticRoot}}/favicon.ico">
  <link rel="stylesheet" href="{{env.staticRoot}}/download.css" />
</head>
<body>
  <div class="main">
    <div class="header">
      <div class="layout-container clearfix">
        <div class="logo">
          <a class="logo-link" href="/">
            <span class="image"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="main-wrapper">
      {% if isCode %}
      <div class="code-section">
        <div class="code-form">
          <form class="form code-content" action="/download/{{link.id}}/check_code" method="POST">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <div class="form-item">
              <div class="form-control">
                <span class="input-prefix"><i class="icon icon-lock"></i></span>
                <input name="code" class="input" type="text" placeholder="Please input code">
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            {% if messages.error %}
            <div class="alert alert-error">{{messages.error}}</div>
            {% endif %}
          </form>
        </div>
      </div>
      {% else %}
      <div class="download-section">
        <div class="download-container">
          <div class="download-title">
            <span>Link will expire in {{link.ttl}}</span>
            {% if link.package %}
            <a href="{{link.package}}" class="btn btn-primary" style="float: left;">Download All</a>
            {% endif %}
          </div>
          <table class="table table-hover">
            <colgroup>
              <col width="69%">
              <col width="15%">
              <col width="15%">
            </colgroup>
            <thead>
              <tr>
                <th>Name</th>
                <th class="center">Size</th>
                <th class="center">Remain</th>
              </tr>
            </thead>
            <tbody>
              {% for f in files %}
              {% if f.key %}
              <tr>
                <td>
                  <div class="ellipsis">
                    <a href="{{f.key}}" title="{{f.name}}" download>{{f.name}}</a>
                  </div>
                </td>
              {% else %}
              <tr class="disabled">
                <td>
                  <div class="ellipsis">
                    <span title="{{f.name}}">{{f.name}}</a>
                  </div>
                </td>
              {% endif %}                
                <td class="center">{{f.size}}</td>
                <td class="center">{{f.ttl}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="footer">
      <div class="container">Copyright © {{year}} JSmartX Inc. All Rights Reserved.</div>
    </div>
  </div>
</body>
</html>