<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no,email=no">
  <meta name="description" content="{{env.description}}">
  <title>Terms of BuguLink Service</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{env.staticRoot}}/favicon.ico">
  <style>
    body, html {
      width: 100%;
      height: 100%;
    }
    body {
      margin: 0;
      width: 100%;
      font-family: Helvetica Neue For Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 1.7;
      color: #444;
      background-color: #f5f5f5;
      scroll-behavior: smooth;
    }
    h2 {
      text-align: center;
    }
    .main {
      padding: 0 10px;
      max-width: 800px;
      margin: 0 auto;
    }
    .main > ol > li {
      margin-bottom: 1em;
    }
  </style>
</head>
<body>
  <div class="main">
    <h2>BuguLink 服务协议</h2>
    <p>本《协议》是您（“用户”）与 BuguLink 之间关于使用 BuguLink 相关服务所订立的协议（下称《协议》）。使用 BuguLink 的任何服务即表示接受本协议的全部条款。</p>
    <ol>
      <li>BuguLink 是一个向广大用户提供数据管理和分享等的在线服务。BuguLink 是信息存储空间平台，其本身不直接上传、提供内容，对用户传输内容不做任何修改或编辑。</li>
      <li>用户不得滥用 BuguLink 的服务，BuguLink 帐号仅限用户个人使用，帐号不得有偿或无偿提供给任何第三方使用。BuguLink 在此郑重提请您注意，任何经由本服务以上传、张贴、发送即时信息、电子邮件或任何其他方式传送的资讯、资料、文字、软件、音乐、音讯、照片、图形、视讯、信息、用户的登记资料或其他资料（以下简称“内容”），无论系公开还是私下传送，均由内容提供者、使用者对其上传、使用行为自行承担责任。BuguLink 作为信息存储空间服务平台，无法控制经由本服务传送之内容，也无法对用户的使用行为进行全面控制，因此不能保证内容的合法性、正确性、完整性、真实性或品质；用户已预知使用本服务时，可能会接触到令人不快、不适当等内容，并同意将自行加以判断并承担所有风险，而不依赖于 BuguLink。</li>
      <li>若用户使用 BuguLink 的行为不符合本协议，BuguLink 在经由通知、举报等途径发现时有权做出独立判断，且有权在无需事先通知用户的情况下立即终止向用户提供部分或全部服务。用户若通过 BuguLink 散布和传播反动、色情或其他违反国家法律、法规的信息，BuguLink 的系统记录有可能作为用户违反法律法规的证据；因用户进行上述内容在 BuguLink 的上载、传播而导致任何第三方提出索赔要求或衍生的任何损害或损失，由用户自行承担全部责任。</li>
      <li>BuguLink 保留对除用户自行上载、传播的内容外，BuguLink 及其所有元素，包括但不限于所有内容、数据、技术、软件、代码、用户界面以及与其相关的任何衍生作品的所有权及知识产权。</li>
      <li>
        用户的承诺：
        <ul>
          <li>其一经取得利用 BuguLink 提供的网络服务上传、发布、传送或通过其他方式传播的内容的权利人（如有）的书面授权，并已与前述权利人就权益分配达成内部协议，保证其在将相关内容提交、上传至 BuguLink 前拥有充分、完整无瑕疵、排他的所有权及知识产权。</li>
          <li>
            用户利用 BuguLink 提供的网络服务上传、发布、传送或通过其他方式传播的内容，不得含有任何违反国家法律法规政策的信息，包括但不限于下列信息：
            <ol>
              <li>反对宪法所确定的基本原则的；</li>
              <li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
              <li>损害国家荣誉和利益的；</li>
              <li>煽动民族仇恨、民族歧视，破坏民族团结的；</li>
              <li>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
              <li>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
              <li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
              <li>侮辱或者诽谤他人，侵害他人合法权益的；</li>
              <li>含有法律、行政法规禁止的其他内容的。</li>
            </ol>
          </li>
          <li>用户不得为任何非法目的而使用本网络服务系统；不得利用 BuguLink 网络服务系统进行任何可能对互联网或移动网正常运转造成不利影响的行为；</li>
          <li>
            用户不得利用 BuguLink 的服务从事以下活动：
            <ol>
              <li>未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</li>
              <li>未经允许，对计算机信息网络功能进行删除、修改或者增加的；</li>
              <li>未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</li>
              <li>故意制作、传播计算机病毒等破坏性程序的；</li>
              <li>其他危害计算机信息网络安全的行为。</li>
            </ol>
          </li>
          <li>如因用户利用 BuguLink 提供的网络服务上传、发布、传送或通过其他方式传播的内容存在权利瑕疵或侵犯了第三方的合法权益（包括但不限于专利权、商标权、著作权及著作权邻接权、肖像权、隐私权、名誉权等）而导致 BuguLink 或与 BuguLink 合作的其他单位面临任何投诉、举报、质询、索赔、诉讼；或者使 BuguLink 或者与 BuguLink 合作的其他单位因此遭受任何名誉、声誉或者财产上的损失，用户应积极地采取一切 可能采取的措施，以保证 BuguLink 及与 BuguLink 合作的其他单位免受上述索赔、诉讼的影响。同时用户对 BuguLink 及与 BuguLink 合作的其他单位因此遭受的直接及间接经济损失负有全部的损害赔偿责任。</li>
        </ul>
      </li>
      <li>如果用户上传的内容允许其他用户下载、查看、收听或以其他方式访问或分发，其必须保证该内容的发布和相关行为实施符合相关知识产权法律法规中相关的版权政策。</li>
      <li>BuguLink 对本协议及产品政策的所有内容享有修订权及法律范围内的解释权。</li>
      <li>本协议一经公布即生效，BuguLink 有权随时对协议内容进行修改，修改后的结果公布于 BuguLink 网站上。如果不同意 BuguLink 对本协议相关条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受 BuguLink 对本协议相关条款所做的修改。</li>
      <li>本协议项下 BuguLink 对于用户所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。</li>
      <li>本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向 BuguLink 所在地的人民法院提起诉讼。（完）</li>
    </ol>
  </div>
</body>
</html>